body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
}

input {
    border: none;
    border-bottom: 2px solid #333;
    margin: 10px;
    padding: 5px;
}


button {
    margin-top: 3em;
    padding: 10px 20px;
    background-color: #3b413d;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 55px;  
    border: 3px solid #333; 
}

button:hover {
    background-color: white;
    color: black;
    border-radius: 55px;  
    border: 3px solid #333; 
}

#resultado {
    margin-top: 20px;
    font-weight: bold;
    
}
h2 {
    text-align: left;
    margin-left: 7em;
}
#grafica {
    width: 80%;
    height: 500px;
    margin: auto;
    border: 2px solid black;
}